*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.container{
    display: grid;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}
.header{
    background-image: url("../images/background-img.jpg");
    background-size: cover;
    /* background-color: yellow; */
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    padding: 8px;
}
.library{
    /* background-color: red; */
    grid-row: 2/3;
}
.title{
    font-size: 3rem;
    font-weight: bold;
    background-color: white;
    padding: 8px;
    border-radius: 16px;
    opacity: 0.85;
}
.addbook{
    background-color: black;
    color: white;
    font-size: 1.65rem;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
}
.plus{
    background-color: white;
    color: black;
    margin-right: 0.25rem;
    padding: 0.1rem 0.45rem;
    border-radius: 50%;
}